/* 여기저기서 반복적으로 등장해야 하는 구문들에 대한 묶음 = 믹스인 => JS의 함수 */
@mixin myMixin($size) {
  $calc: 100px;

  @if $size % 2 == 0 {
    $calc: $calc + 50px;
  } @else if $size % 3 == 0 {
    $calc: $calc + 100px;
  } @else {
    $calc: $calc;
  }

  width: $calc;
  height: 32px * 2;
  transition: all 0.3s ease-in;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}
